<%= render "devise/shared/header" %>

<div class="top-wrapper">
  <div class="container">
    <h1>ゲーム仲間を探そう！</h1>
    <p>G-connectでは一緒にゲームする仲間を探すことができます。</p>
    <p>朝・昼・夜好きな時間にゲームを誘うことができます。今すぐユーザーを検索してコンタクトを取ってみましょう！</p>
  </div>
</div>