<div class="top-wrapper">
  <div class="container">
    <h1>ゲーム仲間を探そう！</h1>
    <p>G-connectでは一緒にゲームする仲間を探すことができます。</p>
    <p>朝・昼・夜好きな時間にゲームを誘うことができます。今すぐユーザーを検索してコンタクトを取ってみましょう！</p>
    <div class="btn-wrapper">
      <a href="/users" class="btn index">
        <i class="fa fa-search"></i>
        ユーザー検索
      </a>
      <a href="/users/sign_up" class="btn user">
        <i class="fa fa-plus-square"></i>
        新規登録
      </a>
    </div>
  </div>
</div>